body {
  background: #fff;
  color: #000;
}
table {
  border: 1px solid #699;
}
caption {
  margin: auto;
  padding: .2em;
  font-size: 1.2em;
  font-weight: bold;
}
th {
  text-align: left;
  border: 1px dotted #699;
  background-color: #9cc;
}
.tr-even {
  background: #cecece;
}
tr:nth-child(odd) {
  background: #ffc;
}
tr:hover {
  font-weight: bold;
}
th, td {
  width: 10em;
  padding: .5em;
}